.Navbar {
    background: $primary_color !important;
    color: $text_secondary_color !important;

    li:hover{
        color: $text_secondary_color !important;
        background: $secondary_color !important;
    }
}