*{
    box-sizing: border-box;
}
body {
    background: $text_secondary_color;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: $text_secondary_color;
}

.c-ponter {
    cursor: pointer;
}